body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
}

img {
    width: 200px;
    height: auto;
    border: 5px solid blue;
}

/* HEADER SECTION */
.header_container {
    display: flex;
    flex-flow: column;
    border: 5px solid;
}

.top {
    display: flex;
    border: 5px solid;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.head_links {
    display: flex;
    border: 1px solid;
    gap: 20px;
}

.top1 {
    border: 5px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
}

.content1 {
    border: 5px solid red;
}

.content2 {
    border: 5px solid red;
    
}

.placeholder {
    width: 500px;
    height: 200px;
}

/* BODY1 */

.bodyh2 {
    display: flex;
    font-size: 50px;
    margin-top: -25px;
    border: 5px solid red;
}

.body1 {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    align-items: center;
    padding: 100px;
}

.info_container {
    display: flex;
    justify-content: center;
    width: min-content;
    gap: 100px;
    border: 5px solid red;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 5px solid;

}

.subtext {
    padding: 20px;
}

/* BODY2 Section */

.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border:  5px solid ;
}

.body2_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border: 5px solid rebeccapurple;
}

.quote_container {
    display: flex;
    width: 700px;
    border: 5px solid red;
}

.insp_container {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    border: 5px solid;
}