body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
}

img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

/* HEADER SECTION */
.header_container {
    display: flex;
    flex-flow: column;
    background-color: #1f2937;
    border: 5px solid;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.head_links a ,
.header_text, .button1 a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    list-style: none;
}

.top {
    display: flex;
    border: 5px solid;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}

.head_links {
    display: flex;
    border: 1px solid;
    gap: 20px;
}

.top1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    border: 5px solid;
}

.main_head {
    font-size: 48px;
    font-weight: bolder;
    word-wrap: break-word;
    margin-bottom: -10px;
    color: #f9faf8;
}

.content {
    display: flex;
    gap: 50px;
    flex: 0 1 auto;
    border: 5px solid;
}

.content1 { 
    width: 600px;
    border: 5px solid red;
}

.content2 {
    display: flex;
    border: 5px solid red;  
}

.placeholder {
    display: flex;
    width: 500px;
    height: auto;
}

.button1 {
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    background-color: #3882f6;
}

.button1 a {
    font-weight: bold;
}

/* BODY1 */

.bodyh2 {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-top: -25px;
    border: 5px solid red;
}

.body1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border: 5px solid;
}

.info_container {
    display: flex;
    justify-content: center;
    width: min-content;
    padding: 25px;
    gap: 75px;
    border: 5px solid red;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 5px solid;

}

.subtext {
    font-size: 18px;
    color: #1f2937;
    padding: 20px;
}

/* BODY2 Section */

.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    border:  5px solid ;
}

.body2_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 110px;
    border: 5px solid rebeccapurple;
}

.quote_container {
    display: flex;
    width: 1000px;
    border: 5px solid red;
}

.quote_container h2 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}
.insp_container {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    border: 5px solid;
}

/* BODY3 SECTION */
.body3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: larger;
    border: 5px solid black;
}

.body3_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: min-content;
    height: 0px;
    padding: 75px;
    margin: 100px;
    background-color: #3882f6;
    border-radius: 15px;
    border: 5px solid red;
}

.b3_bold {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -10px;
}

.b3_lighter {
    font-weight: 100;
}

.b3_button {
    background-color: #3882f6;
    border: 3px solid #f9faf8;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

.b3_button a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.body3_lower {
    display: flex;
    margin-top: -10px;
    gap: 250px;
    border: 5px solid blue;
}

/* FOOTER SECTION */

.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #1f2937;
    color: #e5e7eb;
    border: 5px solid black;
}